<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Storage</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1><a href="/storage" style="text-decoration: none">Storage</a></h1>
        <a href="/logout" style="text-decoration: none">
          <button class="logout-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="icon logout-icon"
              fill="currentColor"
            >
              <title>logout</title>
              <path
                d="M17 7L15.59 8.41L18.17 11H8V13H18.17L15.59 15.58L17 17L22 12M4 5H12V3H4C2.9 3 2 3.9 2 5V19C2 20.1 2.9 21 4 21H12V19H4V5Z"
              />
            </svg>
          </button>
        </a>
      </div>
    </header>

    <div class="storage-content">
      <aside>
        <div class="actions">
          <button
            onclick="(document.querySelector('.new-folder-modal').showModal())"
            class="action"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon"
            >
              <path
                d="M13 19C13 19.34 13.04 19.67 13.09 20H4C2.9 20 2 19.11 2 18V6C2 4.89 2.89 4 4 4H10L12 6H20C21.1 6 22 6.89 22 8V13.81C21.39 13.46 20.72 13.22 20 13.09V8H4V18H13.09C13.04 18.33 13 18.66 13 19M20 18V15H18V18H15V20H18V23H20V20H23V18H20Z"
              />
            </svg>
            New Folder
          </button>
          <button
            onclick="(document.querySelector('.new-file-modal').showModal())"
            class="action"
          >
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M13.81 22H6C4.89 22 4 21.11 4 20V4C4 2.9 4.89 2 6 2H14L20 8V13.09C19.67 13.04 19.34 13 19 13S18.33 13.04 18 13.09V9H13V4H6V20H13.09C13.21 20.72 13.46 21.39 13.81 22M23 18H20V15H18V18H15V20H18V23H20V20H23V18Z"
              />
            </svg>
            Upload File
          </button>
          <button
            id="share-button"
            class="action"
            onclick="document.querySelector('.share-modal').showModal()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="icon"
              fill="currentColor"
            >
              <path
                d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12S8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5S19.66 2 18 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12S4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.91 18 21.91S20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08M18 4C18.55 4 19 4.45 19 5S18.55 6 18 6 17 5.55 17 5 17.45 4 18 4M6 13C5.45 13 5 12.55 5 12S5.45 11 6 11 7 11.45 7 12 6.55 13 6 13M18 20C17.45 20 17 19.55 17 19S17.45 18 18 18 19 18.45 19 19 18.55 20 18 20Z"
              />
            </svg>
            Share Folder
          </button>
        </div>
      </aside>

      <main><%- include('folderRoute.ejs') %> <%- include('files.ejs') %></main>
    </div>

    <div class="error-message hidden">
      <p class="error"></p>
    </div>

    <dialog class="new-file-modal">
      <div class="modal-content">
        <h2>New File</h2>
        <form
          action="/new-file?folder=<%= locals.folder.id %>"
          method="POST"
          enctype="multipart/form-data"
          class="file-form"
        >
          <input
            type="file"
            id="file"
            name="file"
            class="file-input"
            required
          />
          <button class="submit-button">Upload File</button>
        </form>
        <button
          class="close-button"
          onclick="document.querySelector('.new-file-modal').close()"
        >
          &#10005;
        </button>
      </div>
    </dialog>

    <dialog class="new-folder-modal">
      <div class="modal-content">
        <h2>New Folder</h2>
        <form
          action="/new-folder?folder=<%= locals.folder.id %>"
          method="POST"
          class="folder-form"
        >
          <div class="folder-name-input">
            <label for="folder">Name:</label>
            <input
              type="text"
              id="folder"
              name="folder"
              minlength="1"
              required
            />
          </div>
          <button class="submit-button">Create Folder</button>
        </form>
        <button
          class="close-button"
          onclick="document.querySelector('.new-folder-modal').close()"
        >
          &#10005;
        </button>
      </div>
    </dialog>
  </body>

  <dialog class="share-modal">
    <div class="modal-content">
      <h2>Share Folder</h2>
      <form
        action="/share-folder/<%= locals.folder.id %>"
        method="POST"
        class="share-form"
      >
        <select name="shareTime" id="shareTime">
          <option value="1">1 Hour</option>
          <option value="12">12 Hours</option>
          <option value="24">1 Day</option>
          <option value="168">7 Days</option>
        </select>
        <button class="submit-button">Generate Link</button>
      </form>
      <p class="share-link"><%= locals.shareLink ? locals.shareLink : "" %></p>
      <button
        class="close-button"
        onclick="document.querySelector('.share-modal').close()"
      >
        &#10005;
      </button>
    </div>
  </dialog>

  <script>
    function showErrorMessage(show) {
      if (show) {
        document.querySelector(".error-message").classList.remove("hidden");
        document.querySelector(".error").textContent =
          "There is already a file/folder with this name in this directory.";

        setTimeout(() => {
          document.querySelector(".error-message").classList.add("hidden");
        }, 5000);
      }
    }

    function shareLinkGenerated(link) {
      if (link.length > 0) {
        document.querySelector(".share-link").textContent = link;
        document.querySelector("#share-button").click();
      }
    }

    showErrorMessage(<%= locals.invalidName %>);
    shareLinkGenerated("<%= locals.shareLink %>");
  </script>
</html>
